.user-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.message {
  font-size: 1.2rem;
  font-weight: 700;
}
